 .pagination-container[b-yrxt2dwu3t] {
     margin-top: 7vh;
     display: flex;
     z-index: 9;
     height: 7vh;
     width: inherit;
     justify-content: center;
     align-items: center;
 }

 .pagination[b-yrxt2dwu3t] {}