@using TMDB.Client.Components.MovieViews



    <MudGrid class="main-grid" Spacing="2" Justify="Justify.Center">
        <MudPaper Style="background:transparent" class="movie-items" Outlined="false" Elevation="0">

            <div class="container">
       
                <div class="row ipad-width">
                     
                   @if (setMovieType == "dashboard"){
                        
                      <Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(1)">
                               <div class="col-md-8">

                                    <TabContentMovie title="MOVIES" SetViewType="SetViewType"/>
                                    <TabContentTvShow title="TvSHOWS" />
                               </div>
                        <SideBar_ColumnMD4/>

                    <CascadingValue Value="Movie">
                        <TrailerComponent />
                    </CascadingValue>

                    </Animate>
                }
              
                else if (setMovieType == "gridview")
                {
                     <Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(0.3)">
                        <GridView SetViewType="SetViewType"/>
                    </Animate>
                }
                else if (setMovieType == "listview")
                {
                    <Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(0.3)">
                        <ListView SetViewType="SetViewType"/>
                    </Animate>
                }


                 
            @*<NewsTab/>*@
                    @*  @if (Movie.Count == 0)
                {
                    for (var i = 0; i < 20; i++)
                    {
                        <Skeleton />
                    }
                }
                else
                {
                  @foreach (var items in Movie)
                    {
                        <IndividualMovies Movie="items" />
                    }
                }  *@

                </div>

            </div>
           

        </MudPaper>

    </MudGrid>



    


@code {
    private const string PosterUrl = "https://www.themoviedb.org/t/p/w220_and_h330_face/";
    [Parameter] public List<Movie>? Movie { get; set; }
    public string setMovieType { get; set; } = "dashboard";

    void SetViewType(string SetMovieType)
    {
        setMovieType = SetMovieType;
    }
}

<style>
  .main-grid {
       //margin: -8px;
    margin-top: -100px;
    z-index: 2;
    position: relative;
}
</style>