<link href="~/style.css" rel="stylesheet" />
<div class="title-hd">
	<h2>MOVIES</h2>
	<a href="#" class="viewall">
		View all <i class="ion-ios-arrow-right"></i>		
	</a>
</div>
<div class="tabs">
	<ul class="tab-links">
		<li class="active"><a href="#tab1">#Popular</a></li>
		<li><a href="#tab2"> #Coming soon</a></li>
		<li><a href="#tab3">  #Top rated  </a></li>
		<li><a href="#tab4"> #Most reviewed</a></li>                        
	</ul>
</div>