@page "/index/{page:int}"
@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>BBM - Movies</PageTitle>
<Carosel />
<MoviesList Movie="movies" />
<MudSpacer />

<div class="pagination-container">

    <MudPagination Selected="Page" SelectedChanged="pageChanged" class="pa-4" Color="Color.Tertiary"
        Variant="Variant.Outlined" Count="TotalPage" />
</div>




@code {
    
    [Parameter]
    public int Page { get; set; } = 1;
    
    [Parameter] 
    public int TotalPage { get; set; } = 500;
    public List<Movie>? movies { get; set; } = new List<Movie>();
    private void pageChanged(int i)
    {
        Page = i;
        NavigationManager.NavigateTo($"/index/{Page}");
    }
    protected override void OnInitialized()
    {
        if (Page < 1 )
        {
            Page = 1;
            NavigationManager.NavigateTo($"/index/{Page}");
        }
        

        GetMovies(Page);
    }

    private async void GetMovies(int page)
    {
        movies = await Http.GetFromJsonAsync<List<Movie>>($"/api/Movie/GetMovies/{page}");
    }

    protected override async Task OnParametersSetAsync()
    {
        movies.Clear();
        movies = await Http.GetFromJsonAsync<List<Movie>>($"/api/Movie/GetMovies/{Page}");
    }
}

<style>   
    .pagination-container {
        margin-top: 7vh;
        margin-bottom: 7vh;
        display: flex;
        z-index: 10;
        height: 7vh;
        width: inherit;
        justify-content: center;
        align-items: center;
}
</style>