@page "/index/{page:int}"
@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>TMDB - Movies</PageTitle>
<Carosel />
@* <HeroImage/> *@
<MoviesList Movie="movies" />
<MudSpacer />
<div class="pagination-container">

    <MudPagination Selected="Page" SelectedChanged="pageChanged" class="pa-4" Color="Color.Tertiary"
        Variant="Variant.Outlined" Count="10000" />
</div>




@code {
    public List<Movie> movies = new List<Movie>();
    [Parameter] public int Page { get; set; } = 1;
    private void pageChanged(int i)
    {
        Page = i;
        NavigationManager.NavigateTo($"/index/{Page}");
    }
    protected override void OnInitialized()
    {

        GetMovies(Page);
        @* TMDbClient client = new TMDbClient("0bc767296e945f7da4297394b9b7fd92");
            var response = await client.GetMoviePopularListAsync(null, Page, null, default);

            foreach (var item in response.Results)
            {
            movies.Add(new Movie
            {
            Title = item.Title,
            PosterPath = item.PosterPath
            });
            }
        *@
        //PosterPath = "https://www.themoviedb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg"

    }

    private async void GetMovies(int page)
    {
        movies = await Http.GetFromJsonAsync<List<Movie>>($"/api/Movie/GetMovies/{page}");
    }

    protected override async Task OnParametersSetAsync()
    {
        movies.Clear();
        movies = await Http.GetFromJsonAsync<List<Movie>>($"/api/Movie/GetMovies/{Page}");

    }
}

<style>
    .pagination-container {
        margin-top: 7vh;
        margin-bottom: 7vh;
        display: flex;
        z-index: 9;
        height: 7vh;
        width: inherit;
        justify-content: center;
        align-items: center;
    }

    .pagination {}
</style>