@page "/Movie/{MovieId:int}/{MovieName}"
@inject HttpClient Http
<PageTitle>TMDB - @movie?.Title</PageTitle>

<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <h1>Welcome to Acme Web Solution</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non qui 
      sint veritatis ad corrupti consequatur aliquam totam! Facilis, 
      unde corrupti.
    </p>
    <a href="#section-a" class="btn">
      Read More
    </a>
  </div>
</header>

<main id="main">
  <!--  Section A  -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">Web & Application Development</h2>
      <div class="content-text">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum debitis a 
          modi repellat velit recusandae necessitatibus error corrupti ex incidunt illum 
          laudantium laboriosam dolorem blanditiis quod dignissimos similique architecto 
          asperiores, facilis voluptatem temporibus est commodi. Excepturi reprehenderit 
          perspiciatis aliquam velit. 
        </p>
      </div>
    </div>
  </section>
    
  <!--  Section B  -->
  <section id="section-b" class="grid">
    <ul>
      <li>
        <div class="card">
          <img src="https://images.pexels.com/photos/842548/pexels-photo-842548.jpeg?w=1200&h=650&auto=compress&cs=tinysrgb" alt="Section two image">
            <div class="card-content">
              <h3 class="card-title">Tech Marketing</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Minus, blanditiis explicabo. Commodi debitis laudantium 
                temporibus repudiandae dolores, quos fuga optio.
              </p>
            </div>
          </div>
      </li>
      <li>
        <div class="card">
          <img src="https://images.pexels.com/photos/705869/pexels-photo-705869.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Section two image">
            <div class="card-content">
              <h3 class="card-title">Tech Marketing</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Minus, blanditiis explicabo. Commodi debitis laudantium 
                temporibus repudiandae dolores, quos fuga optio.
              </p>
            </div>
          </div>
      </li>
      <li>
        <div class="card">
          <img src="https://images.pexels.com/photos/5362/restaurant-hands-people-coffee.jpg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Section two image">
            <div class="card-content">
              <h3 class="card-title">Tech Marketing</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Minus, blanditiis explicabo. Commodi debitis laudantium 
                temporibus repudiandae dolores, quos fuga optio.
              </p>
            </div>
          </div>
      </li>
    </ul>
  </section>
  
  <!--  Section C  -->
  <section id="section-c" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">We handle all your digital needs</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed 
        rem quis maxime vel accusantium. Necessitatibus eaque aut 
        cupiditate tempore laudantium!
      </p>
    </div>
  </section>
  
  <!--  Section D -->
  <section id="section-d" class="grid">
    <div class="box">
      <h2 class="content-title">Contact Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Laboriosam, quo!
      </p>
    </div>
    <div class="box">
      <h2 class="content-title">About Our Company</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Laboriosam, quo!
        Lorem ipsum dolor sit amet, consectetur adipisicing 
        elit. A culpa recusandae repellendus quas dolores 
        officia reiciendis similique, magni asperiores. Tempora?
      </p>
    </div>
  </section>
</main>

<!-- Footer -->
<footer id="main-footer" class="grid">
  <div>Acme Web Solutions</div>
  <div>
    Project By <a href="#" target="_blank">Jeison Perez</a> 
  </div>
</footer>

@code {
    [Parameter] public int? MovieId { get; set; }
    [Parameter] public string? MovieName { get; set; }
    private Movie? movie { get; set; } = new Movie();


    protected override async Task OnInitializedAsync()
    {
        movie = await Http.GetFromJsonAsync<Movie>($"/api/Details/{MovieId}");
    }

}

<style>
    .bg {
        background-image: url(https://www.themoviedb.org/t/p/w1280/@movie.BackdropPath);
        height: 85vh;
    }
</style>